body {
    margin: 0;
    height: 100vh;
    font-family: Georgia, serif;
    color: #f5e6c8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* BACKGROUND */
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("castle.jpg") no-repeat center center;
    background-size: cover;
    z-index: -2;
}

/* OVERLAY */
.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

/* CARD */
.card {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 40px black;
}

/* TEKS (GLOW PUTIH) */
h1 {
    font-size: clamp(28px, 6vw, 40px);
    color: #ffffff;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
}

p {
    font-size: 14px;
    margin-bottom: 15px;
}

/* BUTTON */
.button {
    display: inline-block;
    margin: 8px;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    background: linear-gradient(45deg, #c8a96a, #ffd700);
    font-weight: bold;
}

/* PLAY BUTTON */
.play-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: white;
    font-weight: bold;
}